

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: url(/gabriel-ramos-575OvGrdfr8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 10px;

}
.calculator{
    width: 100%;
    max-width: 600px;
    margin:  0 auto;
    /* margin-left: 10%; */
    /* margin-bottom: 10%; */
}
.calculator h1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 3.75rem;
}
.calculator span{
    color: #ffbf00;
}
.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    /* cursor: pointer; */

}
.input-box button{
    background: #ffbf00;
    border: 0;
    outline: none;
    padding: 15px 30px;
    border-radius: 5px ;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: 1s;
}
.input-box button:hover{
    transform: scale(1.05);
}
.input-box input::-webkit-calender-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}
